@model DataModel.QuestionsDataModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Questions</h4>
<hr />
<form asp-action="Edit">
    <div class="row">
        <div class="col-md-4">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="QuestionText" class="control-label"></label>
                <input asp-for="QuestionText" class="form-control" />
                <span asp-validation-for="QuestionText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DifficultyLevelId" class="control-label"></label>
                <select asp-for="DifficultyLevelId" class="form-control" asp-items="ViewBag.DifficultyLevelId"></select>
                <span asp-validation-for="DifficultyLevelId" class="text-danger"></span>
            </div>
        </div>
    </div>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>

                        </th>
                        <th>

                        </th>
                        <th>
                            Answer text
                        </th>
                        <th>
                            Is correct
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int counter = 0;
                    }
                    @foreach (var item in Model.QuestionAnswersDataModel)
                    {
                        var hiddeniscorrectcontrolid = "hdnIsCorrect" + counter.ToString();

                        <tr>
                            <td style="visibility:hidden">
                                <input asp-for="@item.Id" type="hidden" name="QuestionAnswersDataModel[@counter].Id" id="QuestionAnswersDataModel[@counter].Id" />
                            </td>
                            <td style="visibility:hidden">
                                <input asp-for="@item.QuestionId" name="QuestionAnswersDataModel[@counter].QuestionId" id="QuestionAnswersDataModel[@counter].QuestionId" type="hidden" />
                            </td>
                            <td>

                                <input asp-for="@item.AnswerText" class="form-control" name="QuestionAnswersDataModel[@counter].AnswerText" id="QuestionAnswersDataModel[@counter].AnswerText" />
                                @Html.ValidationMessageFor(x => Model.QuestionAnswersDataModel[counter].AnswerText)
                            </td>
                            <td>
                                @if (item.IsCorrext)
                                {
                                    <input type="radio" checked value="@item.Id" name="IsCorrext" id="QuestionAnswersDataModel[@counter].IsCorrext" onchange="$('.txtiscorrectcontrol').val('False'); if ($(this).is(':checked')) { $('#@hiddeniscorrectcontrolid').val('True') }" />
                                }
                                else
                                {
                                    <input type="radio" value="@item.Id" name="IsCorrext" id="QuestionAnswersDataModel[@counter].IsCorrext" onchange="$('.txtiscorrectcontrol').val('False'); if ($(this).is(':checked')) { $('#@hiddeniscorrectcontrolid').val('True') }" />

                                }
                                <input type="text" value="@item.IsCorrext.ToString()" name="@hiddeniscorrectcontrolid" id="@hiddeniscorrectcontrolid" class="txtiscorrectcontrol" />
                            </td>

                        </tr>
                        counter++;
                    }
                </tbody>
            </table>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
       
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
